body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  background-color: #b8b5ff;
}

#game-board {
  width: 100vmin;
  height: 95vmin;
  background-color: #e4fbff;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 0.5vmin dashed black;
}

.snake {
  background-color: #54e346;
  border: 0.25vmin solid black;
}

.food {
  background-color: #fff600;
  border-radius: 50%;
  border: 0.25vmin solid black;
}

.directions-container {
  list-style: none;
  position: relative;
  width: 152px;
  height: 104px;
  left: 50%;
  top: 30%;
  margin-left: -76px;
  display: none;
}

.directions-container .fas {
  font-size: 1.2rem;
  padding: 10px;
}

.directions-container li {
  position: absolute;
  top: 56px;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transition: 0.001s all;
  cursor: pointer;
}

/* .pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
} */

.directions-container li:nth-child(1) {
  top: 8px;
  left: 56px;
}

.directions-container li:nth-child(2) {
  left: 8px;
}

.directions-container li:nth-child(3) {
  left: 56px;
}

.directions-container li:nth-child(4) {
  left: 104px;
}

@media only screen and (max-width: 768px) {
  #game-board {
    width: 95vmin;
    height: 90vmin;
  }
  .directions-container {
    display: block;
  }
}
